    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a>
        <br>Last updated: {{ site.time | date_to_string }}</p>
<p style="font-size:24px;font-weight:700;font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;letter-spacing: -1px;margin: 10px 0;">Photo Credit</p>
<p>The micrograph of Marburg virus featured at the top of the page was taken by Dr. Tom Geisbert (CDC) and is available from <a href="http://www.flickr.com/photos/microbeworld/6055661951/">Microbeworld</a> under a Creative Commons <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">BY-NC-SA license</a>.</p>
<a id="forkme_banner" href="https://github.com/PulliamLab-UFL/summer2014">View on GitHub</a>
      </footer>
    </div>
