    <!-- HEADER -->
    <div id="header_wrap" class="outer">
<header>
<div align="center">
  <table width="640" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="60" align="center"><a style="font-size:22px" href="{{site.url}}/index.html">Home</a></td>
      <td width="60" align="center"><a style="font-size:22px" href="{{site.url}}/people/index.html">People</a></td>
      <td width="60" align="center"><a style="font-size:22px" href="{{site.url}}/research/index.html">Research</a></td>
      <td width="60" align="center"><a style="font-size:22px" href="{{site.url}}/teaching/index.html">Teaching</a></td>
      <td width="60" align="center"><a style="font-size:22px" href="{{site.url}}/publications/index.html">Publications</a></td>
      <td width="60" align="center"><a style="font-size:22px" href="{{site.url}}/opportunities/index.html">Opportunities</a></td>
   </tr>
  </table>
</div>
</header>
       <header class="inner">
          <img src="{{site.url}}/images/MarburgMicrobeWorldGeisert.jpg" align=right alt="Marburg virus. Credit: Tom Geisbert (CDC)" longdesc="http://www.flickr.com/photos/microbeworld/6055661951/">
          <h1 id="project_title">Pulliam Lab</h1>
          <h2 id="project_tagline">Department of Biology and Emerging Pathogens Institute, University of Florida</h2>
        </header>
    </div>
